<% provide(:title, "ICS 616 Demo - Cats with Captions") %>

<div class="container">
  <div class="well">
    <h1>
      Cats without Captions
      <small>A few weeks ago</small>
    </h1>
    <div class="row">
      <div class="col-sm-6">
        <%= image_tag "Adorable-kitties-kitties 1.jpg",
                      class: "img-responsive img-thumbnail center-block" %>
      </div>
      <div class="col-sm-6">
        <%= image_tag "11591714654_f147615d47_b.jpg",
                      class: "img-responsive img-thumbnail center-block" %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <%= image_tag "9036284474_a118cb65fa_z.jpg",
                      class: "img-responsive img-thumbnail center-block" %>
      </div>
      <div class="col-sm-6">
        <%= image_tag "8960576518_a65557d1c2_z.jpg", 
                      class: "img-responsive img-thumbnail center-block" %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <%= image_tag "8707301033_3c8a89363e_o.jpg",
                     class: "img-responsive img-thumbnail center-block" %>
      </div>
      <div class="col-sm-6">
        <%= image_tag "8510686043_e8dd2f541f_b.jpg",
                     class: "img-responsive img-thumbnail center-block" %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <%= image_tag "20121122-205627.jpg", 
                      class: "img-responsive img-thumbnail center-block" %>
      </div>
      <div class="col-sm-6">
        <%= image_tag "295530_260301370771513_998656246_n.jpg",
                      class: "img-responsive img-thumbnail center-block" %>
      </div>
    </div>
  </div>
</div>
