<% provide(:title, "ICS 616 Demo - Cats with Captions") %>

<div class="container">
  <div class="well">
    <h1>
      Cats with Captions
    </h1>
    <div class="row">
      <div class="col-sm-6">
        <%= image_tag "cat-and-computer-saving-the-world.jpg",
                      class: "img-responsive img-thumbnail center-block" %>
      </div>
      <div class="col-sm-6">
        <%= image_tag "funny-pictures-cat-fixes-your-computer.jpg",
                      class: "img-responsive img-thumbnail center-block" %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <%= image_tag "funny-pictures-cat-is-on-line.jpg",
                      class: "img-responsive img-thumbnail center-block" %>
      </div>
      <div class="col-sm-6">
        <%= image_tag "funny-pictures-cat-is-sleeping-on-the-computer-monitor-as-per-instructions.jpg", 
                      class: "img-responsive img-thumbnail center-block" %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <%= image_tag "funny-pictures-cat-sleeps.jpg", 
                      class: "img-responsive img-thumbnail center-block" %>
      </div>
      <div class="col-sm-6">
        <%= image_tag "funny-pictures-your-cat-is-over-stimulated.jpg", 
                      class: "img-responsive img-thumbnail center-block" %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <%= image_tag "lieutenant-dan-you-got-new-legs.jpg", 
                      class: "img-responsive img-thumbnail center-block" %>
      </div>
      <div class="col-sm-6">
        <%= image_tag "pick_me_kitten.jpeg", 
                      class: "img-responsive img-thumbnail center-block" %>
      </div>
    </div>
  </div>
</div>