<footer class="container">
  <div class="row">
    <div class="col-sm-6 well left">
      <p>
        This is where the tagline for our organization would be if we were not too lazy to think of one.
      </p>
      <div><%= link_to "About Us", about_path %></div>
    </div>
    <div class="col-sm-6 well right">
      <h4>Links</h4>
      <div><%= link_to "Quotes", quotes_path %></div>
      <div><%= link_to "Essays", essays_path %></div>
      <div><%= link_to "Cats with Captions", cats_with_captions_path %></div>
      <div><%= link_to "Cats without Captions", cats_without_captions_path %></div>
    </div>
  </div>
</footer>